
RewriteEngine on  
  
RewriteRule ^$  index.html [NC,L]  
RewriteRule ^admin  views/adm.html [NC,L]
RewriteRule ^search  views/search.php [NC,L]
RewriteRule ^search  views/search.php [NC,L]
RewriteRule ^search  views/search.php [NC,L]
RewriteRule ^search  views/search.php [NC,L]
RewriteRule ^search  views/search.php [NC,L]


RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1&param2=$2&param3=$3 [NC,L]
RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1&param2=$2 [NC,L]
RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1 [NC,L]
RewriteRule ^IMAGE image_folder/image.php [NC,L]

 
 