#Not in use currently

RewriteEngine on  
  #For Home
RewriteRule ^home  index.html [NC,L]  

#For Admin related pages
RewriteRule ^admin-home  views/adm-home.php [NC,L]
RewriteRule ^admin-search  views/adm-search.php [NC,L]
RewriteRule ^admin  views/adm.html [NC,L]

#For Search
RewriteRule ^search  views/search.php [NC,L]

#For Staff Related Pages
RewriteRule ^staff-approved  views/staff-approved.php [NC,L]
RewriteRule ^staff-pending  views/staff-pending.php [NC,L]
RewriteRule ^staff-rejected  views/staff-rejected.php [NC,L]
RewriteRule ^staff  views/staff.html [NC,L]

#For Student Related Pages
RewriteRule ^student-approved  views/student-approved.php [NC,L]
RewriteRule ^student-pending  views/student-pending.php [NC,L]
RewriteRule ^student-rejected  views/student-rejected.php [NC,L]
RewriteRule ^student  views/student.html [NC,L]

#If Parameters needs to be passed not in use currently
RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1&param2=$2&param3=$3 [NC,L]
RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1&param2=$2 [NC,L]
RewriteRule ^IMAGE/([a-zA-Z0-9\-=&_@\.\,\)\(]*)$ /image_folder/image.php?param1=$1 [NC,L]
RewriteRule ^IMAGE image_folder/image.php [NC,L]

 
 