RewriteEngine on  

ErrorDocument 404 /404.html

#For Database Connection
RewriteRule ^dbConfig     config/dbConfig.php [NC,L]

#For Resources
RewriteRule ^TICK  resources/approve.png [NC,L] 
RewriteRule ^CROSS  resources/reject.png [NC,L] 
RewriteRule ^FAVICON  resources/favicon.ico [NC,L] 
RewriteRule ^LOGO  resources/logo.png [NC,L] 

#For CSS
RewriteRule ^Navigation  css/navbar.css [NC,L] 
RewriteRule ^COLLAPSIBLE  css/collapsible.css [NC,L] 
RewriteRule ^MODAL  css/modal.css [NC,L] 

#For Home Page
RewriteRule ^HOME     index.html [NC,L] 

#For End User
RewriteRule ^STUDENT   SSL-views/student.html [NC,L]
RewriteRule ^STAFF     SSL-views/staff.html [NC,L]
RewriteRule ^STATUS    SSL-views/search.php [NC,L]

#For Admin
RewriteRule ^SSS     SSL-views/adm.html [NC,L]
RewriteRule ^AHOME     SSL-views/adm-home.php [NC,L]
RewriteRule ^ADMSEARCH    SSL-views/adm-search.php [NC,L]


#For exteral linl
RewriteRule ^ADMIN  http://172.16.15.100/ausnkn.in/sss [NC,L]


#For queries
RewriteRule ^ALOGIN          queries/adm-login.php [NC,L]
RewriteRule ^AdLOGIN         queries/adminlogin.php [NC,L]
RewriteRule ^SEARCH          queries/approve-search.php [NC,L]
RewriteRule ^STA-APPROVE     queries/approve-staff.php [NC,L]
RewriteRule ^STU-APPROVE     queries/approve.php [NC,L]
RewriteRule ^SIGNOUT          queries/logout.php [NC,L]
RewriteRule ^REJ-STAFF       queries/reject-staff.php [NC,L]
RewriteRule ^REJECT          queries/reject.php [NC,L]
RewriteRule ^RESET           queries/reset.php [NC,L]
RewriteRule ^STA-DATA        queries/staffData.php [NC,L]
RewriteRule ^STUD-DATA       queries/studentData.php [NC,L]
#RewriteRule ^UPLOAD          queries/upload.php [NC,L]


